{% extends 'filmy/base.html' %}

{% block 'title' %}Prvni | {{ block.super }}{% endblock %}

{% block 'content' %}
    <h1>Select movie</h1>
    <p>
    SEARCH MOVIE
    </p>
    <div class="row">
        <div class="col-12 col-md-4">
            <input type="text" class="form-control">
        </div>
        <div class="col-12 col-md-4">
            <input type="text" class="form-control">

        </div>
        <div class="col-12 col-md-4">
            <input type="text" class="form-control">

        </div>
        
    </div>
    <div class="row">
        <div class="col-12">
            <h6>Lorem</h6>
            <p>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus feugiat molestie libero iaculis fri
        </div>
    </div>

{% endblock %}

